<h1 >Atualizar Cliente</h1>
<a routerLink="/clientes" class="btn btn-dark"> voltar</a>
<hr />
<div>
<div class="container-fluid">
  <form [formGroup]="clienteForm" (ngSubmit)="atualizar()">
    <div class="row">
      <div class="col-12">
        <div class="mb-3">
          <label for="nome" class="form-label">Nome</label>
          <input id="nome" type="text" class="form-control" formControlName="nome" />
        </div>
        <div class="mb-3">
          <label for="logradouro" class="form-label">Logradouro</label>
          <input id="logradouro" type="text" class="form-control" formControlName="logradouro" />
        </div>
          <div class="mb-3">
            <label for="cep" class="form-label">CEP</label>
            <input id="cep" type="text" class="form-control" formControlName="cep" />
          </div>
          <div class="mb-3">
            <label for="cidade" class="form-label">Cidade</label>
            <input id="cidade" type="text" class="form-control" formControlName="cidade" />
          </div>
          <div class="mb-3">
            <label for="uf" class="form-label">UF</label>
            <input id="uf" type="text" class="form-control" formControlName="uf" />
          </div>
          <div class="mb-3">
            <label for="bairro" class="form-label">Bairro</label>
            <input id="bairro" type="text" class="form-control" formControlName="bairro" />
          </div>
          </div>
        <div>
          <div class="mb-3">
            <label for="numero" class="form-label">Número</label>
            <input id="numero" type="number" class="form-control" formControlName="numero" />
          </div>
        </div>
      </div>
      <div>
        <div class="mb-3">
          <label for="cpf" class="form-label">CPF</label>
          <input id="cpf" type="number" class="form-control" formControlName="cpf" max="11" min="0" />
        </div>
      </div>
        <div class="mb-3">
          <label for="renda-mensal" class="form-label">Renda Mensal</label>
          <input id="renda-mensal" type="number" class="form-control" formControlName="rendaMensal" max="50" min="0" />
        </div>
      <div class="row">
      </div>
    <button type="submit" [disabled]="clienteForm.valid" class="btn btn-dark">Atualizar</button>
  </form>
</div>


