<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
      >
        <a
          href="/"
          class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
        >
          <span class="fs-5 d-none d-sm-inline">Menu</span>
        </a>
        <ul
          class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
          id="menu"
        >
          <li class="nav-item">
            <a routerLink="/home" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i>
              <span class="ms-1 d-none d-sm-inline">Home</span>
            </a>
          </li>
          <li>
            <a
            routerLink='/clientes/cadastrar'
              data-bs-toggle="collapse"
              class="nav-link px-0 align-middle"
            >
              <i class="fs-4 bi-grid"></i>
              <span class="ms-1 d-none d-sm-inline">Cadastro</span>
            </a>
          </li>
          <li>
            <a routerLink="/clientes/simular" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-people"></i>
              <span class="ms-1 d-none d-sm-inline">Simular Empréstimos</span>
            </a>
          </li>
          <li>
            <a routerLink="/clientes" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-people"></i>
              <span class="ms-1 d-none d-sm-inline">Clientes</span>
            </a>
          </li>
        </ul>
        <hr />
        <div class="dropdown pb-4">
          <a
            href="https://github.com/tikaoo"
            target="_blank"
            class="d-flex align-items-center text-white text-decoration-none"
            id="dropdownUser1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://github.com/tikaoo.png"
              alt="hugenerd"
              width="30"
              height="30"
              class="rounded-circle"
            />
            <span>Patrick C Gomes</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col py-3">
      <h3>Money Bridge</h3>
      <p class="lead">
        Bem-vindo à nossa fintech ! <br> Aqui, estamos comprometidos em fornecer aos
        nossos clientes um serviço financeiro seguro e confiável. Somos uma
        plataforma digital que oferece soluções personalizadas para atender às
        suas necessidades financeiras individuais. Com nossa tecnologia de
        ponta, oferecemos empréstimos rápidos e descomplicados, com taxas de
        juros competitivas e sem burocracias. Através de um processo de
        solicitação simples e fácil, você pode obter o dinheiro necessário para
        realizar seus sonhos, sem sair de casa. Nossa equipe de profissionais
        experientes e especializados em finanças está à disposição para fornecer
        um atendimento personalizado, ajudando a entender suas necessidades
        financeiras e encontrar a solução de empréstimo mais adequada para você.
        Acreditamos que a tecnologia pode ser usada para tornar o processo de
        empréstimos mais justo, transparente e acessível para todos. É por isso
        que trabalhamos incansavelmente para inovar em nossos serviços e tornar
        a experiência de empréstimo pessoal mais fácil e acessível. Estamos
        comprometidos em ajudar nossos clientes a realizar seus sonhos e
        objetivos financeiros. Entre em contato conosco e descubra como podemos
        ajudá-lo a alcançar seus objetivos de forma rápida e
        segura.
      </p>
    </div>
  </div>
</div>

